@font-face {
    font-family: Be_Vietnam_Thin;
    src: url(./Be_Vietnam/BeVietnam-Thin.ttf);
}
@font-face {
    font-family: Be_Vietnam_SemiBold;
    src: url(./Be_Vietnam/BeVietnam-SemiBold.ttf);
}
@font-face {
    font-family: Be_Vietnam;
    src: url(./Be_Vietnam/BeVietnam-Medium.ttf);
}
@font-face {
    font-family: Be_Vietnam_BoldItalic;
    src: url(./Be_Vietnam/BeVietnam-BoldItalic.ttf);
}
@font-face {
    font-family: Be_Vietnam_Italic;
    src: url(./Be_Vietnam/BeVietnam-Italic.ttf);
}
.row{
    display: flex;
}
.row a{
    margin-right: 20px;
}
#pog{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 600px;
}
a{
    color: white;
    font-size: 30px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 300px;
    height: 200px;
    margin-bottom: 30px;
    border: 2px solid tomato;
    border-radius: 50px;
    background-color: tomato;
    font-family: Be_Vietnam;
}
a:hover{
    background-color: white;
    color: tomato;
}
